<div class="row">
  <p id="notice"><%= notice %></p>

  <h1>Tipos de Produtos</h1>

  <div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Descrição</th>
            <th>Ações</th>
          </tr>
          </thead>

          <tbody>
          <% @tipos_produtos.each do |tipos_produto| %>
            <tr>
              <td><%= tipos_produto.descricao %></td>
              <td><%= link_to 'Edit', edit_tipos_produto_path(tipos_produto) %>
                <%= link_to 'Destroy', tipos_produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>

  <%= link_to 'New Tipos Produto', new_tipos_produto_path %>
</div>