<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="form_wrapper">
    <div class="animate form total_form x_panel">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Login</h1>

          <div class="form-group text-left">
            <%= f.label :email, "E-mail" %>
            <%= f.email_field :email, autofocus: true, autocomplete:
            "email", class: "form-control", placeholder: "E-mail", required: true %>
          </div>
          <div class="form-group text-left">
            <%= f.label :password, "Senha" %>
            <%= f.password_field :password, autocomplete: "current-password",
            class: "form-control",  placeholder: "Senha", required: true %>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info btn-block">Logar</button>
          </div>

          <div class="clearfix"></div>

          <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
              <h1><i class="fas fa-hand-holding-usd"></i> SEF</h1>
              <p>Sistema Financeiro para cuidar do orçamento da sua empresa!</p>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>